
/* Global styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
	background-image: url('background.jpg');
	background-size: auto;
	background-position: center;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
	color: rgba(235, 54, 211, 0.801);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
	color: #f541d7;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
    border-color: darkgray;
    border-radius: 5px;
}

button {
    background-color: #d137b7;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #7c0276;
}

/* Sign-in page styles */
#signin-form {
    margin-top: 50px;
}

/* Home page styles */
.home_container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
	  
	  
  }
  